# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
db.properties
.DS_Store

# Python Virtual Environments
venv/
.venv/
env/
__pycache__/

# Local configuration
local.properties
.env
